<div class="bootstrap-wrapper">
    <div class="container  ">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container" style="max-width:600px;background-color:white">
                    <!-- {{user|json}} -->
                    <form class='card p-3' (ngSubmit)="forgot()">
                        <!-- <div class="container">
                        <img class="mx-auto d-block" src="../../assets/logo.jpg" alt="" style="width:200px;">
                    </div> -->
                        <h2 class="container text-center ">Forgot password</h2>

                        <!-- Email-->
                        <div class="form-group">
                            <label class="font-weight-bold" for="email">Enter your register email Id</label>
                            <input name="email" type="email" class="form-control" id="email" [(ngModel)]="user.email"
                                placeholder="Enter your email id" required ngModel #email="ngModel">
                            <small class="text-danger" [class.d-none]="email.valid || email.untouched">
                                Email is
                                required !</small>
                        </div>





                        <div class="container">
                            <button type="submit" class="btn btn-primary btn-lg">Send OTP</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>